[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-contrib-python = "*"
dlib = "*"
face-recognition = "*"
imutils = "*"
scipy = "*"
psycopg2-binary = "*"
flask = "*"
flask-jsonpify = "*"
flask-sqlalchemy = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
